<div style="border:1px solid black;padding:2px;text-align:left;">
 <font style="font-size:12pt;">Send XML-RPC command</font>
 <div style="padding:10px;">
  <!--[xml_msg]-->
  <i>Example command: funcname('arg1', arg2)</i><br>
  <form method="post" action="/adminutilities">
   <input type="text" name="xmlrpccommand" style="width:200px;" value="<!--[prevcommand]-->">
   <input type="submit" name="xmlrpcok" value="Send XML-PRC Command">
  </form>
 </div>
</div>