<html>
 <head>
  <title>IHouse web administration user interface</title>
  <style type="text/css">
    body{
      background-color: #adb1bd;
    }

    a {
      color:black;
    }
  </style>
 </head>
 <body>
   <table style="width:100%;height:100%;border:3px solid #3a4674;" rules="none" border="0">
      <tr style="background-color:#cccfdb;">
      <td style="width:300px;border-right: 2px solid #3a4674;padding:5px;" valign="top">
       <ul>
	<li><a href="/adminindex">Home</a></li>
	<li><a href="/admininterfaces">Administrate interfaces</a></li>
	<li><a href="/adminconfigvalues">Administrate other settings </a></li>
	<li><a href="/adminiobindings">Administrate I/O bindings</a></li>
	<li><a href="/adminutilities">Administration utilities</a></li>
       </ul>
      </td>
      <td valign="top">
      <div style="border: 1px solid #3a4674;text-align:center;height:100%;margin: 0 auto 0 auto;padding:10px;">
          <center><!--[contents]--></center> 
      </div></td>
     </tr>
   </table>
 </body>
</html>

